@import "../../abstract/functions";
@import "../../base/variables";

$footer-sizes: (
  footer-wrapper-padding: calcVW(80),
  footer-info-wrapper-mr: calcVW(208),
  footer-expertise-wrapper-mr: calcVW(100),
  footer-company-wrapper-mr: calcVW(300),
  footer-logo-width: calcVW(181),
  footer-logo-height: calcVW(80),
  footer-logo-margin: calcVW(8) calcVW(0) calcVW(45) calcVW(0),
  footer-text-fz: calcVW(18),
  footer-text-lh: calcVW(24),
  footer-text-mb: calcVW(14),
  footer-info-text-mb: calcVW(3),
  footer-text-title-fz: calcVW(18),
  footer-text-title-lh: calcVW(22),
  footer-text-title-mb: calcVW(22),
  footer-social-width: calcVW(50),
  footer-social-height: calcVW(74),
  footer-social-mr: calcVW(26),
  footer-social-wrapper-mb: calcVW(-10),
);

@function getFooterSizes($property) {
  @return map-get($footer-sizes, $property);
}
