@import "../../abstract/functions";
@import "../../base/variables";

$HomeMainWithImage-sizes: (
  social-sites-cg: calcVW(32),
  site-cg: calcVW(16),
  sites-image-width: calcVW(24),
  text-fs: calcVW(20),
  text-lh: calcVW(24),
  social-sites-lp: calcVW(-175),
  social-sites-tp: calcVW(494),
);

@function getHomeMainWithImage($property) {
  @return map-get($HomeMainWithImage-sizes, $property);
}
