@import "../../abstract/functions";
@import "../../base/variables";


$careers-sizes: (
  content-width: calcVW(1280),
  title-fz: calcVW(36),
  title-lh: calcVW(44),
  bottom-block-m: calcVW(256) 0,
);

@function getCareersSizes($property) {
  @return map-get($careers-sizes, $property);
}
