@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-pricing-modal-styles {
  .content {
    @include flex(space-between);

    .leftContent {
      width: getPricingModal(left-content-max-width);
      padding: getPricingModal(left-content-padding);

      .header {
        @include flex(null, null, column);
        gap: getPricingModal(left-content-header-gap);

        .bigTitle {
          @include font-style(getPricingModal(big-title-fz),
            variables.$fw-500,
            getPricingModal(big-title-lh),
            variables.$black );
        }

        .smallTitle {
          @include font-style(getPricingModal(small-title-fz),
            variables.$fw-500,
            getPricingModal(small-title-lh),
            variables.$black );
        }
      }

      .summarySection {
        @include flex(null, null, column);
        gap: getPricingModal(summary-section-gap);
        padding: 0;
        margin-top: getPricingModal(summary-section-mt);

        .summary {
          @include font-style(getPricingModal(summary-fz),
            variables.$fw-500,
            getPricingModal(summary-lh),
            variables.$black );
        }

        .projType {
          display: flex;
          gap: getPricingModal(proj-type-gap);

          .specialistsTitle {
            width: 100%;
            @include font-style(calcVW(18),
              variables.$fw-400,
              calcVW(24),
              variables.$black );
          }

          .itemWrapper {
            @include flex(null, center);
            gap: getPricingModal(item-wrapper-gap);
            width: max-content;
            padding: getPricingModal(item-wrapper-padding);

            .item {
              @include font-style(getPricingModal(proj-type-item-fz),
                variables.$fw-500,
                getPricingModal(proj-type-item-lh),
                variables.$black );
            }

            .icon {
              cursor: pointer;
              width: getPricingModal(proj-type-icon-width);
              height: getPricingModal(proj-type-icon-height);
            }

            .iconChange {
              width: calcVW(24);
              height: calcVW(24);
            }

            .iconChangeValue {
              @include font-style(calcVW(14),
                variables.$fw-500,
                normal,
                variables.$light-blue );
            }
          }
        }

        .specialists {
          @include flex(null, null, column);
          gap: getPricingModal(specialists-gap);


          .itemWrapper {
            @include flex(null, center);
            gap: getPricingModal(add-specialist-gap);
            width: max-content;
            padding: getPricingModal(add-specialist-padding);

            .item {
              @include font-style(getPricingModal(add-specialist-item-fz),
                variables.$fw-500,
                getPricingModal(add-specialist-item-lh),
                variables.$black );
            }
          }

          .value {
            @include font-style(getPricingModal(specialists-value-fz),
              variables.$fw-500,
              getPricingModal(specialists-value-lh),
              variables.$dark-turquoise );
          }

          .icon {
            cursor: pointer;
            width: getPricingModal(specialists-icon-width);
            height: getPricingModal(specialists-icon-height);
          }
        }
      }
    }

    .rightContent {
      width: getPricingModal(right-content-width);
      padding: getPricingModal(right-content-padding);
    }

    @media (max-width: 1024px) {
      .leftContent {
        width: calcVWT(373);
        padding: 0 calcVWT(32);
        row-gap: calcVWT(48);
        display: flex;
        flex-direction: column;

        .header {
          row-gap: calcVWT(16);

          .bigTitle {
            @include font-style(calcVWT(36),
              variables.$fw-500,
              normal,
              variables.$black );
          }

          .smallTitle {
            @include font-style(calcVWT(18),
              variables.$fw-400,
              normal,
              variables.$black );
          }
        }

        .summarySection {
          padding: 0;
          margin-top: 0;

          .summary {
            @include font-style(calcVWT(36),
              variables.$fw-500,
              normal,
              variables.$black );
          }

          .projType {
            row-gap: calcVWT(24);

            .itemWrapper {
              .item {
                @include font-style(calcVWT(20),
                  variables.$fw-500,
                  normal,
                  variables.$black );
              }

              .icon {
                width: calcVWT(14);
                height: calcVWT(14);
              }

              .iconChange {
                width: calcVWT(24);
                height: calcVWT(24);
              }
              .iconChangeValue {
                @include font-style(calcVWT(14),
                  variables.$fw-500,
                  normal,
                  variables.$light-blue );
              }
            }

            .specialistsTitle {
              @include font-style(calcVWT(18),
                variables.$fw-400,
                normal,
                variables.$black );
            }
          }
        }
      }

      .rightContent {
        width: calcVWT(474);
        padding: 0;
      }
    }

    @media (max-width: 576px) {
      flex-direction: column;
      row-gap: calcVWM(56);

      .rightContent {
        width: 100%;
      }

      .leftContent {
        width: 100%;
        row-gap: calcVWM(48);
        padding: 0;

        .header {
          .bigTitle {
            @include font-style(calcVWM(24),
              variables.$fw-700,
              normal,
              variables.$black );
          }

          .smallTitle {
            @include font-style(calcVWM(18),
              variables.$fw-400,
              normal,
              variables.$black );
          }
        }

        .summarySection {
          padding: 0;
          row-gap: calcVWM(16);

          .summary {
            @include font-style(calcVWM(24),
              variables.$fw-700,
              normal,
              variables.$black );
          }

          .projType {
            gap: calcVWM(24);

            .itemWrapper {
              gap: calcVWM(10);

              .item {
                @include font-style(calcVWM(20),
                  variables.$fw-500,
                  normal,
                  variables.$black );
              }

              .icon {
                width: calcVWM(12);
                height: calcVWM(12);
              }

              .iconChange {
                width: calcVWM(24);
                height: calcVWM(24);
              }
              .iconChangeValue {
                @include font-style(calcVWM(14),
                  variables.$fw-500,
                  normal,
                  variables.$light-blue );
              }
            }

            .specialistsTitle {
              @include font-style(calcVWM(18),
                variables.$fw-400,
                normal,
                variables.$black );
            }
          }
        }
      }
    }
  }
}