@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-technology-styles {
  .container {
    .title {
      @include font-style(getTechnologySizes(technology-title-fz),
        variables.$fw-500,
        getTechnologySizes(technology-title-lh));
    }

    .description {
      margin-top: getTechnologySizes(technology-description-mt);
      @include font-style(getTechnologySizes(technology-description-fz),
        variables.$fw-400,
        getTechnologySizes(technology-description-lh));
    }

    .buttons {
      @include flex(flex-start, center, row, wrap);
      gap: calcVW(16);
      margin: getTechnologySizes(technology-buttons-m);
    }

    .languages {
      @include flex(none, center, row, wrap);
      width: getTechnologySizes(language-w);
      column-gap: calcVW(10);

      .languageBlock {
        transition: 0.6s;
        @include flex(center, center, column);
        width: getTechnologySizes(language-block-w);
        border: 1px solid transparent;
        height: getTechnologySizes(language-block-h);
        border-radius: getTechnologySizes(language-block-br);
        background-color: transparent;
        cursor: pointer;

        .icon {
          transition: 0.6s;
          width: getTechnologySizes(icon-w);
          height: getTechnologySizes(icon-w);
          object-fit: cover;
          margin-bottom: calcVW(5);
        }

        .name {
          transition: 0.6s;
          width: 0;
          height: calcVW(0);
          @include font-style(0,
            variables.$fw-600,
            getTechnologySizes(language-name-lh));
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &:hover {
          transition: 0.6s;
          filter: none;
          justify-content: center;
          background-color: #000000;
          border: 1px solid #3fc1ff;
          width: getTechnologySizes(language-block-w);
          height: getTechnologySizes(language-block-h);

          .name {
            transition: 0.6s;
            width: 100%;
            height: calcVW(24);
            @include font-style(getTechnologySizes(language-name-fz),
              variables.$fw-600,
              getTechnologySizes(language-name-lh));
          }

          .icon {
            transition: 0.6s;
            margin-bottom: calcVW(5);
          }
        }
      }

      .languageBlockDeActive {
        .icon {
          transition: 1s;
          filter: invert(19%) sepia(0%) saturate(91%) hue-rotate(94deg) brightness(12%) contrast(82%);
        }

        &:hover {
          .icon {
            transition: 1s;
            filter: none;
          }
        }
      }
    }

    @media only screen and (max-width: 1440px) and (min-width: 1025px) {
      .title {
        @include font-style(calcVWL(36), variables.$fw-500, calcVWL(44));
      }

      .description {
        margin-top: calcVWL(24);
        @include font-style(calcVWL(18), variables.$fw-400, calcVWL(24));
      }

      .buttons {
        gap: calcVWL(16);
        margin: calcVWL(64) 0 calcVWL(32) 0;
      }

      .languages {
        width: calcVWL(1040);
        column-gap: calcVWL(10);

        .languageBlock {
          width: calcVWL(106);
          height: calcVWL(106);
          border-radius: calcVWL(16);

          .icon {
            width: calcVWL(40);
            height: calcVWL(40);
            margin-bottom: calcVWL(5);
          }

          .name {
            height: calcVWL(0);
            @include font-style(0,
              variables.$fw-600,
              calcVWL(24));
          }

          &:hover {
            width: calcVWL(106);
            height: calcVWL(106);

            .name {
              height: calcVWL(24);
              @include font-style(calcVWL(16),
                variables.$fw-600,
                calcVWL(24));
            }

            .icon {
              margin-bottom: calcVWL(5);
            }
          }
        }
      }
    }

    @media (max-width: 1024px) {
      .title {
        @include font-style(calcVWT(36), variables.$fw-500, calcVWT(44));
      }

      .description {
        margin-top: calcVWT(32);
        @include font-style(calcVWT(18), variables.$fw-400, calcVWT(24));
      }

      .buttons {
        justify-content: flex-start;
        gap: calcVWT(16);
        margin: calcVWT(72) 0 calcVWT(40) 0;
      }

      .languages {
        width: 100%;
        column-gap: calcVWT(10);

        .languageBlock {
          width: calcVWT(106);
          height: calcVWT(106);

          .icon {
            width: calcVWT(40);
            height: calcVWT(40);
          }

          .name {
            @include font-style(0, variables.$fw-500, calcVWT(24));
          }

          &:hover {
            border-radius: calcVWT(16);
            width: calcVWT(106);
            height: calcVWT(106);

            .name {
              height: calcVWT(24);
              @include font-style(calcVWT(14), variables.$fw-500, calcVWT(24));
            }

            .icon {
              margin-bottom: calcVWT(5);
            }
          }
        }
      }
    }

    @media (max-width: 576px) {
      .title {
        @include font-style(calcVWM(36), variables.$fw-500, calcVWM(44));
      }

      .description {
        margin-top: calcVWM(32);
        @include font-style(calcVWM(18), variables.$fw-400, calcVWM(24));
      }

      .buttonsParent {
        overflow: auto;
      }

      .buttons {
        flex-wrap: nowrap;
        min-width: max-content;
        gap: calcVWM(16);
        margin-top: calcVWM(60);
      }

      .languages {
        width: 100%;
        row-gap: calcVWM(90);
        column-gap: calcVWM(20);
        margin: calcVWM(70) 0;

        .languageBlock {
          width: calcVWM(40);
          height: calcVWM(40);

          .icon {
            width: calcVWM(40);
            height: calcVWM(40);
          }

          &:hover {
            width: calcVWM(40);
            height: calcVWM(40);
            pointer-events: none;
            border-radius: none;
            border: none;

            .name {
              display: none;
            }
          }
        }
      }
    }
  }
}