@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-what-we-do-page-styles {
  .whatWeDoMainWrapper {
    width: getWhatWeDoPageSizes(content-width);
    margin: getWhatWeDoPageSizes(content-mt) auto 0 auto;

    .ourServices {
      margin-top: getWhatWeDoPageSizes(what-our-services-margin-top);
      @include flex(space-between, null, null, wrap);
      row-gap: getWhatWeDoPageSizes(what-our-services-row-gap);
      column-gap: getWhatWeDoPageSizes(what-our-services-column-gap);

      .block {
        flex: 1;
      }
    }

    .weKnowSection {
      margin: getWhatWeDoPageSizes(what-we-know-section-margin);
    }
    @media only screen and (max-width: 1440px) and (min-width: 1025px) {
      width: calcVWL(1280);
      margin: calcVWL(478) auto 0 auto;

      .ourServices {
        margin-top: calcVWL(98);
        row-gap: calcVWL(64);
        column-gap: calcVWL(32);
      }

      .weKnowSection {
        margin: calcVWL(384) auto calcVWL(320);
      }
    }
    @media (max-width: 1024px) {
      width: calcVWT(928);
      margin-top: calcVWT(256);
      .ourServices {
        column-gap: calcVWT(32);
        row-gap: calcVWT(64);
      }
    }
    @media (max-width: 575px) {
      width: calcVWM(343);
      margin-top: calcVWM(76);
      .ourServices {
        row-gap: calcVWM(32);
      }
    }
  }
}
