@import "../../abstract/functions";
@import "../../base/variables";

$what-we-do-page-sizes: (
  header-p: calcVW(150) 0 calcVW(50) 0,
  content-mt: calcVW(478),
  content-width: calcVW(1280),
  what-our-services-row-gap: calcVW(64),
  what-our-services-column-gap: calcVW(32),
  what-our-services-margin-top: calcVW(90),
  what-we-know-section-margin: calcVW(384) auto calcVW(320),
);

@function getWhatWeDoPageSizes($property) {
  @return map-get($what-we-do-page-sizes, $property);
}
