@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-map-user-styles {
  .container {
    @include flex(center, center, column);
    height: calcVW(282);

    .imgBlock {
      @include flex(space-between, center);
      width: getMapUser(img-block-w);
      height: calcVW(180);

      .imageBlock {
        position: relative;

        .flag {
          position: absolute;
          width: getMapUser(flag-width);
          height: getMapUser(flag-height);
          top: getMapUser(flag-top);
          right: getMapUser(flag-right);
        }

        .userImage {
          width: getMapUser(user-image-width);
          height: getMapUser(user-image-height);
          border-radius: getMapUser(user-image-br);
        }
      }

      .iconBlock {
        width: getMapUser(icon-block-width);
        height: getMapUser(icon-block-height);
        border-radius: getMapUser(icon-block-br);
        cursor: pointer;
        @include flex(center, center, center);

        .arrowIcon {
          width: getMapUser(arrow-icon-width);
        }

        &:hover {
          @media (min-width: 1025px) {
            background-color: #3fc1ff;
          }
        }
      }
    }

    .infoBlock {
      text-align: center;
      width: getMapUser(img-block-w);
      margin-top: getMapUser(info-mt);

      .userName {
        @include font-style(getMapUser(name-fs),
          variables.$fw-700,
          getMapUser(name-lh),
          #219fdb);
      }

      .userPosition {
        @include font-style(getMapUser(position-fs),
          variables.$fw-500,
          getMapUser(position-lh));
      }
    }

    @media only screen and (max-width: 1440px) and (min-width: 1025px) {
      height: calcVWL(282);

      .imgBlock {
        width: calcVWL(320);
        height: calcVWL(180);

        .imageBlock {
          .flag {
            width: calcVWL(36);
            height: calcVWL(26);
            top: calcVWL(10);
            right: calcVWL(10);
          }

          .userImage {
            width: calcVWL(178);
            height: calcVWL(187);
            border-radius: calcVWL(8);
          }
        }

        .iconBlock {
          width: calcVWL(32);
          height: calcVWL(32);
          border-radius: calcVWL(8);

          .arrowIcon {
            width: calcVWL(15);
          }
        }
      }

      .infoBlock {
        width: calcVWL(320);
        margin-top: calcVWL(20);

        .userName {
          @include font-style(calcVWL(24),
            variables.$fw-700,
            calcVWL(29),
            #219fdb);
        }

        .userPosition {
          @include font-style(calcVWL(20), variables.$fw-500, calcVWL(24));
        }
      }
    }

    @media (max-width: 1024px) {
      height: calcVWT(282);
      justify-content: flex-start;

      .imgBlock {
        width: calcVWT(300);
        height: calcVWT(180);

        .imageBlock {
          .userImage {
            width: calcVWT(178);
            height: calcVWT(178);
          }

          .flag {
            width: calcVWT(36);
            height: auto;
            top: calcVWT(10);
            right: calcVWT(10);
          }
        }

        .iconBlock {
          border-radius: calcVWT(8);
          width: calcVWT(32);
          height: calcVWT(32);

          .arrowIcon {
            width: calcVWT(14);
          }
        }
      }

      .infoBlock {
        width: auto;

        .userName {
          @include font-style(calcVWT(24),
            variables.$fw-700,
            calcVWT(29),
            #219fdb);
          margin-top: calcVWT(10);
        }

        .userPosition {
          @include font-style(calcVWT(20), variables.$fw-500, calcVWT(24));
        }
      }
    }

    @media (max-width: 576px) {
      height: calcVWM(282);
      margin-right: unset;

      .imgBlock {
        width: 100%;
        height: calcVWM(180);

        .imageBlock {
          .userImage {
            width: calcVWM(157);
            height: calcVWM(178);
            object-fit: cover;
            border-radius: calcVWM(16);
          }

          .flag {
            width: calcVWM(32);
            height: auto;
            top: calcVWM(10);
            right: calcVWM(10);
          }
        }

        .iconBlock {
          border-radius: calcVWM(8);
          width: calcVWM(32);
          height: calcVWM(32);

          .arrowIcon {
            width: calcVWM(14);
          }
        }
      }

      .infoBlock {
        width: auto;

        .userName {
          @include font-style(calcVWM(24),
            variables.$fw-700,
            calcVWM(29),
            #219fdb);
          margin-top: calcVWM(10);
        }

        .userPosition {
          @include font-style(calcVWM(20), variables.$fw-500, calcVWM(24));
          max-width: calcVWM(230);
        }
      }
    }
  }
}