@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-service-card-styles {
  .moreBorder {
    border: 1px solid #219fdb;

    a {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .more {
      display: flex;
      gap: 10px;
      align-items: center;
      @include font-style(calcVW(18), variables.$fw-700, calcVW(21), #219fdb);

      img {
        width: calcVW(18);
        height: calcVW(18);
      }

      @media (max-width: 1024px) {
        @include font-style(calcVWT(18),
          variables.$fw-700,
          calcVWT(21),
          #219fdb);

        img {
          width: calcVWT(18);
          height: calcVWT(18);
        }
      }

      @media (max-width: 576px) {
        @include font-style(calcVWM(18),
          variables.$fw-700,
          calcVWM(21),
          #219fdb);

        img {
          width: calcVWM(18);
          height: calcVWM(18);
        }
      }
    }
  }

  .serviceCardWrapper {
    width: 100%;
    flex: none;
    max-height: getServiceCardSizes(serviceCard-card-height);
    border-radius: calcVW(16);
    overflow: hidden;
    height: getServiceCardSizes(serviceCard-card-height);

    .title_iconWrapper {
      position: relative;
      width: 100%;
      height: 100%;

      .iconWrapper {
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: calcVW(16);
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .title {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px 16px 0 0;
        width: 100%;
        height: getServiceCardSizes(serviceCard-title-height);
        padding: calcVW(16);
        text-align: center;

        @include font-style(getServiceCardSizes(serviceCard-title-fz),
          variables.$fw-400,
          getServiceCardSizes(serviceCard-title-lh),
          #fff);
        cursor: pointer;
        background: transparent;
        backdrop-filter: blur(30px);
        position: absolute;
        top: 0;
      }
    }

    .description {
      height: 0;
      overflow: hidden;
      display: flex;
      position: absolute;
      bottom: 0;
      border-radius: 0 0 16px 16px;
      padding: 0 calcVW(32);
      background: transparent;
      backdrop-filter: blur(30px);
      text-align: center;
      @include font-style(calcVW(18), variables.$fw-400, calcVW(24), #c3d4dc);
    }

    &:hover {
      .description {
        transition: 0.9s;
        padding: getServiceCardSizes(serviceCard-desc-p);
        height: max-content;
      }

      transition: 0.8s;
      box-shadow: 0px 42px 98px -42px #7811fe;
    }

    @media only screen and (max-width: 1440px) and (min-width: 1025px) {
      max-height: calcVWL(600);
      border-radius: calcVWL(16);
      height: calcVWL(600);

      .title_iconWrapper {
        .iconWrapper {
          border-radius: calcVWL(16);
        }

        .title {
          height: calcVWL(90);
          padding: calcVWL(16);

          @include font-style(calcVWL(24),
            variables.$fw-400,
            calcVWL(29),
            #fff);
        }
      }

      .description {
        padding: 0 calcVWL(32);
        @include font-style(calcVWL(18),
          variables.$fw-400,
          calcVWL(24),
          #c3d4dc);
      }

      &:hover {
        .description {
          padding: calcVWL(32);
        }
      }
    }

    @media (max-width: 1024px) {
      max-width: calcVWT(224);
      max-height: calcVWT(400);
      height: calcVWT(400);
      border-radius: calcVWT(16);

      .title_iconWrapper {
        .title {
          min-height: calcVWT(93);
          height: max-content;
          @include font-style(calcVWT(24),
            variables.$fw-500,
            calcVWT(29),
            #fff);
        }
      }

      .description {
        padding: 0 calcVWT(16);
        @include font-style(calcVWT(18),
          variables.$fw-400,
          calcVWT(24),
          #c3d4dc);
      }

      &:hover {
        .description {
          padding: calcVWT(16);
          height: max-content;
          width: 100%;
          @include font-style(calcVWT(18),
            variables.$fw-400,
            calcVWT(24),
            #c3d4dc);
        }

        box-shadow: 0px 42px 98px -42px #7811fe;
      }
    }

    @media (max-width: 576px) {
      max-width: calcVWM(163);
      max-height: calcVWM(300);
      height: calcVWM(300);
      border-radius: calcVWM(16);

      .title_iconWrapper {
        .title {
          min-height: max-content;
          height: max-content;
          padding: calcVWM(16);
          @include font-style(calcVWM(18),
            variables.$fw-400,
            calcVWM(24),
            #fff);
        }
      }

      .description {
        padding: 0 calcVWM(8);
        @include font-style(calcVWM(14),
          variables.$fw-300,
          calcVWM(16),
          #c3d4dc);
      }

      &:hover {
        .description {
          padding: calcVWM(8);
          @include font-style(calcVWM(14),
            variables.$fw-300,
            calcVWM(16),
            #c3d4dc);
        }
      }
    }
  }

  .fromDetail {
    max-width: calcVW(405);
    max-height: calcVW(456);

    .title_iconWrapper {
      .iconWrapper {
        max-height: calcVW(456);
      }
    }
    @media only screen and (max-width: 1440px) and (min-width: 1025px) {
      max-width: calcVWL(405);
      max-height: calcVWL(456);
  
      .title_iconWrapper {
        .iconWrapper {
          max-height: calcVWL(456);
        }
      }
    }
    @media (max-width: 1024px) {
      max-width: calcVWT(304);
      max-height: calcVWT(380);
      height: calcVWT(380);

      .title_iconWrapper {
        .iconWrapper {
          max-height: 100%;
        }
      }
    }

    @media (max-width: 576px) {
      max-width: 100%;
      max-height: calcVWM(380);
      height: calcVWM(380);

      .title_iconWrapper {
        .iconWrapper {
          max-height: 100%;
        }
      }
    }
  }
}