@import "../../abstract/functions";
@import "../../base/variables";

$serviceCard-sizes: (
  serviceCard-wrapper-padding: calcVW(0) calcVW(0) calcVW(0) calcVW(230),
  serviceCard-icon-title-wrapper-ml: calcVW(15),
  serviceCard-icon-width: calcVW(340),
  serviceCard-icon-height: calcVW(600),
  serviceCard-icon-mr: calcVW(17),
  serviceCard-title-fz: calcVW(24),
  serviceCard-title-lh: calcVW(29),
  serviceCard-title-height: calcVW(90),
  serviceCard-desc-fz: calcVW(16),
  serviceCard-desc-lh: calcVW(20),
  serviceCard-desc-height: calcVW(135),
  serviceCard-desc-ml: calcVW(-15),
  serviceCard-desc-p: calcVW(32),
  serviceCard-title-hover-fz: calcVW(35),
  serviceCard-card-height:  calcVW(600),
);

@function getServiceCardSizes($property) {
  @return map-get($serviceCard-sizes, $property);
}
