@import "../../abstract/functions";
@import "../../base/variables";

$page-404-sizes: (
  error-page-padding: calcVW(230) 0,
  error-code-fz: calcVW(300),
  error-code-lh: calcVW(330),
  error-text-fz: calcVW(80),
  error-text-lh: calcVW(95),
  message-fz: calcVW(24),
);

@function get404PageSizes($property) {
  @return map-get($page-404-sizes, $property);
}
