@import "../../abstract/functions";
@import "../../base/variables";

$contact-form-sizes: (
  contact-form-wrapper-pb: calcVW(100),
  contact-form-wrapper-pt: calcVW(50),
  contact-form-title-padding: calcVW(55) calcVW(0) calcVW(55) calcVW(0),
  contact-form-input-padding: calcVW(30) calcVW(16),
  contact-form-input-fz: calcVW(24),
  contact-form-input-lh: calcVW(28),
  contact-form-input-br: calcVW(5),
  contact-form-input-row_1-mb: calcVW(30),
  contact-form-input-input-odd-mr: calcVW(80),
  contact-form-input-textarea-height: calcVW(230),
  contact-form-button-wrapper-mt: calcVW(55),
  button-fz:calcVW(16),
  button-fl:calcVW(20),
  text-fz:calcVW(18),
  text-fl:calcVW(24),
);

@function getContactFormSizes($property) {
  @return map-get($contact-form-sizes, $property);
}
