@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-privacy-policy-item-styles {
  .content {
    width: getPrivacyPolicySizes(content-width);
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }

  .bottomBlock {
    margin: getPrivacyPolicySizes(bottom-block-m);
    color: white;

    .blockItemImage {
      h2 {
        @include font-style(calcVW(48), variables.$fw-400, normal);
      }

      p {
        @include font-style(calcVW(24), variables.$fw-400, calcVW(32));
      }

      li {
        @include font-style(calcVW(24), variables.$fw-400, calcVW(32));
      }

      strong {
        @include font-style(calcVW(24), variables.$fw-500, calcVW(32));
      }

      img {
        max-width: 100%;
        height: auto !important;
      }
    }

    .title {
      @include font-style(getPrivacyPolicySizes(title-fz),
        variables.$fw-500,
        getPrivacyPolicySizes(title-lh),
        #fff);
      margin: calcVW(250) 0 calcVW(32) 0 !important;
    }
  }

  @media only screen and (max-width: 1440px) and (min-width: 1025px) {
    .content {
      width: calcVWL(1280);
    }

    .bottomBlock {
      margin: calcVWL(386) 0;

      .blockItemImage {
        h2 {
          @include font-style(calcVWL(48), variables.$fw-400, normal);
        }

        p {
          @include font-style(calcVWL(24), variables.$fw-400, calcVWL(32));
        }

        li {
          @include font-style(calcVWL(24), variables.$fw-400, calcVWL(32));
        }

        strong {
          @include font-style(calcVWL(24), variables.$fw-500, calcVWL(32));
        }
      }

      .title {
        @include font-style(calcVWL(36),
          variables.$fw-500,
          calcVWL(44),
          #fff);
        margin: calcVWL(250) 0 calcVWL(32) 0 !important;
      }
    }
  }

  @media (max-width: 1024px) {
    .content {
      width: calcVWT(976);
    }

    .bottomBlock {
      margin-top: calcVWT(234);
      margin-bottom: calcVWT(128);

      .blockItemImage {
        h2 {
          @include font-style(calcVWT(48), variables.$fw-400, normal);
        }

        p {
          @include font-style(calcVWT(24), variables.$fw-400, calcVWT(32));
        }

        li {
          @include font-style(calcVWT(24), variables.$fw-400, calcVWT(32));
        }

        strong {
          @include font-style(calcVWT(24), variables.$fw-500, calcVWT(32));
        }
      }

      .title {
        @include font-style(calcVWT(36), variables.$fw-500, calcVWT(43), #fff);
        margin-bottom: calcVWT(32) !important;
        margin-top: calcVWT(192) !important;
      }
    }
  }

  @media (max-width: 576px) {
    .content {
      width: calcVWM(343);
    }

    .bottomBlock {
      margin-top: calcVWM(114);
      margin-bottom: calcVWM(82);

      .blockItemImage {
        h2 {
          @include font-style(calcVWM(48), variables.$fw-400, normal);
        }

        p {
          @include font-style(calcVWM(18), variables.$fw-400, calcVWM(24));
        }

        li {
          @include font-style(calcVWM(18), variables.$fw-400, calcVWM(24));
        }

        strong {
          @include font-style(calcVWM(24), variables.$fw-500, calcVWM(32));
        }
      }

      .title {
        @include font-style(calcVWM(36), variables.$fw-500, calcVWM(43), #fff);
        margin-bottom: calcVWM(32) !important;
        margin-top: calcVWM(64) !important;
      }
    }
  }
}