@import "../../abstract/functions";
@import "../../base/variables";


$what-we-do-sizes: (
  content-width: calcVW(1280),
  title-fz: calcVW(36),
  title-lh: calcVW(44),
  bottom-block-m: calcVW(386) 0,
);

@function getPrivacyPolicySizes($property) {
  @return map-get($what-we-do-sizes, $property);
}
