// Use flexbox

@mixin flex(
  $justify-content: null,
  $align-items: null,
  $direction: null,
  $flex-wrap: null
) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $direction;
  flex-wrap: $flex-wrap;
}

@mixin center-absolute {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

@mixin center-flex {
  @include flex(center, center);
}

// Dots after text

@mixin dots-after-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin font-style($fz, $fw, $lh, $color: #ffffff) {
  font-size: $fz;
  font-weight: $fw;
  line-height: $lh;
  color: $color;
}
