// colors
$main-white: #ffffff;
$main-white-15: rgba(33, 159, 219, 0.15);
$main-dark-blue: #219fdb;
$main-dark-blue-80: rgba(16, 84, 117, 0.8);
$main-green: #19f198;
$projects-bg: #def1fa;
$sea-blue: #005e8b;
$weldon-blue: #789bac;
$green-light: #00ff96;
$black-light: rgba(0, 0, 0, 0.5);
$white: #ffffff;
$light-blue: #219fdb;
$light-blue-80: #219fdb;
$black: #000;
$transparent-black: #00000032;
$transparent: transparent;
$gray: #ffffff52;
$dodger-blue: #3fc1ff;
$dark-turquoise: #219fdb;

// font-size
$fz-title: 24;
$fz-description: 16;

// font-weight
$fw-title: 700;
$fw-description: 400;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

// line-height
$lh-title: 36;
$lh-description: 28;
