@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-team-styles {
  .teamMainWrapper {
    background: variables.$light-blue;
    padding: getTeamSizes(team-wrapper-padding);
    .teamItemsWrapper {
      padding: getTeamSizes(team-items-wrapper-padding);
    }
    .buttonWrapper {
      text-align: center;
    }
    @media (max-width: 768px) {
      padding: getTeamSizes(team-wrapper-tablet-padding);
      .teamItemsWrapper {
        flex-direction: column !important;
      }
    }
  }
}
