@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-blog-item-styles {
  .content {
    width: getBlogItemSizes(content-width);
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }

  .bottomBlock {
    margin: calcVW(386) auto calcVW(256) auto;
    color: white;

    .h1Title {
      @include font-style(calcVW(48), variables.$fw-400, normal);
    }

    .blockItemImage {
      h2 {
        @include font-style(calcVW(48), variables.$fw-400, normal);
      }

      p {
        @include font-style(calcVW(24), variables.$fw-400, calcVW(32));
      }

      li {
        @include font-style(calcVW(24), variables.$fw-400, calcVW(32));
      }

      strong {
        @include font-style(calcVW(24), variables.$fw-500, calcVW(32));
      }

      img {
        max-width: 100%;
        height: auto !important;
      }
    }

    .title {
      @include font-style(getBlogItemSizes(title-fz), variables.$fw-500, getBlogItemSizes(title-lh), #fff);
      margin: calcVW(250) 0 calcVW(46) 0 !important;
    }

    .blockItems {
      justify-content: space-between;
    }
  }

  @media only screen and (max-width: 1440px) and (min-width: 1025px) {
    .content {
      width: calcVWL(1280);
    }

    .bottomBlock {
      margin: calcVWL(386) auto;

      .h1Title {
        @include font-style(calcVWL(48), variables.$fw-400, normal);
      }

      .blockItemImage {
        h2 {
          @include font-style(calcVWL(48), variables.$fw-400, normal);
        }

        p {
          @include font-style(calcVWL(24), variables.$fw-400, calcVWL(32));
        }

        li {
          @include font-style(calcVWL(24), variables.$fw-400, calcVWL(32));
        }

        strong {
          @include font-style(calcVWL(24), variables.$fw-500, calcVWL(32));
        }
      }

      .title {
        @include font-style(calcVWL(36), variables.$fw-500, calcVWL(44), #fff);
        margin: calcVWL(250) 0 calcVWL(46) 0 !important;
      }
    }
  }

  @media (max-width: 1024px) {
    .content {
      width: calcVWT(928);
    }

    .bottomBlock {
      margin-top: calcVWT(234);
      margin-bottom: calcVWT(128);

      .h1Title {
        @include font-style(calcVWT(48), variables.$fw-400, normal);
      }

      .title {
        @include font-style(calcVWT(36), variables.$fw-500, calcVWT(43), #fff);
        margin-bottom: calcVWT(36) !important;
        margin-top: calcVWT(192) !important;
      }

      .blockItemImage {
        padding: 0 calcVWT(24);

        h2 {
          @include font-style(calcVWT(48), variables.$fw-400, normal);
        }

        p {
          @include font-style(calcVWT(24), variables.$fw-400, calcVWT(32));
        }

        li {
          @include font-style(calcVWT(24), variables.$fw-400, calcVWT(32));
        }

        strong {
          @include font-style(calcVWT(24), variables.$fw-500, calcVWT(32));
        }
      }

      .blockItems {
        width: calc(100% + calcVWT(48));
        margin-left: calcVWT(-24);
      }
    }
  }

  @media (max-width: 576px) {
    .content {
      width: calcVWM(343);
    }

    .bottomBlock {
      margin-top: calcVWM(114);
      margin-bottom: calcVWM(82);

      .h1Title {
        @include font-style(calcVWM(36), variables.$fw-400, normal);
      }

      .blockItems {
        row-gap: calcVWM(32);
        margin: 0;
        width: 100%;
      }

      .title {
        @include font-style(calcVWM(36), variables.$fw-500, calcVWM(43), #fff);
        margin-bottom: calcVWM(32) !important;
        margin-top: calcVWM(64)
      }

      .blockItemImage {
        h2 {
          @include font-style(calcVWM(36), variables.$fw-400, normal);
        }

        p {
          @include font-style(calcVWM(18), variables.$fw-400, calcVWM(32));
        }

        li {
          @include font-style(calcVWM(18), variables.$fw-400, calcVWM(32));
        }

        strong {
          @include font-style(calcVWM(18), variables.$fw-500, calcVWM(32));
        }
      }

    }
  }
}