@import "../../abstract/functions";
@import "../../base/variables";

$blog-item-sizes: (

  content-width: calcVW(1280),
  title-fz: calcVW(36),
  title-lh: calcVW(44),
  bottom-block-m: calcVW(256) 0,
);

@function getBlogItemSizes($property) {
  @return map-get($blog-item-sizes, $property);
}
