@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-we-do-card-styles {
  .weDoCardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: getWeDoCardSizes(we-do-card-py) getWeDoCardSizes(we-do-card-px);
    gap: calcVW(16);
    width: getWeDoCardSizes(we-do-card-width);
    height: getWeDoCardSizes(we-do-card-height);
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(16px);
    border-radius: 16px;
    border: 1px solid transparent;

    &:hover {
      transition: 0.9s;
      box-shadow: 0px 42px 98px -42px #7811fe;
      border: 1px solid #219fdb;
    }

    .more {
      display: flex;
      align-items: center;
      column-gap: calcVW(16);
      @include font-style(calcVW(18), variables.$fw-700, calcVW(18), #40a9ff);

      img {
        width: calcVW(16);
        height: calcVW(16);
      }
    }

    .iconWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;

      .icon {
        width: getWeDoCardSizes(icon-width);
        height: getWeDoCardSizes(icon-height);
      }
    }

    .development {
      padding: calcVW(15) 0;
      @include font-style(calcVW(24), variables.$fw-700, normal, #3fc1ff);
      min-height: auto;
    }

    .description {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      white-space: pre-wrap;
      max-height: calcVW(115);
      padding: 0 5px;
      text-align: center;
      @include font-style(calcVW(18), variables.$fw-400, normal, #fff);
    }

    @media only screen and (max-width: 1440px) and (min-width: 1025px) {
      padding: calcVWL(56) calcVWL(32);
      width: calcVWL(405);
      height: calcVWL(332);
      gap: calcVWL(16);

      .more {
        column-gap: calcVWL(16);
        @include font-style(calcVWL(18),
          variables.$fw-700,
          calcVWL(18),
          #40a9ff);

        img {
          width: calcVWL(16);
          height: calcVWL(16);
        }
      }

      .iconWrapper {
        .icon {
          width: calcVWL(64);
          height: calcVWL(64);
        }
      }

      .development {
        @include font-style(calcVWL(24), variables.$fw-700, normal, #3fc1ff);
      }

      .description {
        height: calcVWL(65);
        @include font-style(calcVWL(18), variables.$fw-400, normal, #fff);
      }
    }

    @media (max-width: 1024px) {
      width: calcVWT(288);
      height: calcVWT(380);
      padding: calcVWT(56) calcVWT(32);
      gap: calcVWT(16);
      text-align: center;
      justify-content: space-between;

      .development {
        @include font-style(calcVWT(24), variables.$fw-700, calcVWT(29), #fff);
      }

      .description {
        max-height: unset;
        @include font-style(calcVWT(18), variables.$fw-400, calcVWT(24), #fff);
      }

      .iconWrapper {
        .icon {
          width: calcVWT(64);
          height: calcVWT(64);
        }
      }

      .more {
        column-gap: calcVWT(16);
        @include font-style(calcVWT(18),
          variables.$fw-700,
          calcVWT(18),
          #40a9ff);

        img {
          width: calcVWT(16);
          height: calcVWT(16);
        }
      }
    }

    @media (max-width: 576px) {
      gap: calcVWM(16);
      width: calcVWM(163);
      height: calcVWM(320);
      padding: calcVWM(32) calcVWM(16);
      text-align: center;
      justify-content: space-between;

      .development {
        @include font-style(calcVWM(18), variables.$fw-700, calcVWM(22), #fff);
      }

      .description {
        overflow: hidden;
        -webkit-line-clamp: 5;
        max-height: calcVWM(100);
        padding: 0;
        @include font-style(calcVWM(13), variables.$fw-400, calcVWM(20), #fff);
      }

      .iconWrapper {
        .icon {
          width: calcVWM(64);
          height: calcVWM(64);
        }
      }

      .more {
        margin-top: calcVWM(120);
        column-gap: calcVWM(16);
        @include font-style(calcVWM(18),
          variables.$fw-700,
          calcVWM(18),
          #40a9ff);

        img {
          width: calcVWM(16);
          height: calcVWM(16);
        }
      }
    }
  }

  @media (max-width: 576px) {
    .fromDetail {
      width: 100%;
    }
  }

  .moreWrapper {
    justify-content: center;

    @media (max-width: 576px) {
      justify-content: space-between;
    }
  }
}