@import "../../abstract/functions";
@import "../../base/variables";

$services-sizes: (
  content-mt: calcVW(478),
  content-width: calcVW(1216),
  services-wrapper-padding: calcVW(39) calcVW(0) calcVW(50) calcVW(0),
  services-wrapper-pb: calcVW(75),
  service-button-wrapper-mt: calcVW(55),
  service-top-wrapper-padding: calcVW(80) calcVW(230),
  service-text-mt: calcVW(350),
  service-text-tablet-mt: calcVW(150),
  button-text-fz: calcVW(42),
  button-height: calcVW(120),
  services-margin-top: calcVW(124),
  service-card-width: calcVW(560),
  service-card-height: calcVW(600),
  content-we-know-section-margin: calcVW(420) auto calcVW(320),
  services-rg: calcVW(96),
);

@function getServicesSizes($property) {
  @return map-get($services-sizes, $property);
}
