@import "../../abstract/functions";
@import "../../base/variables";

$facts-item-sizes: (
  facts-item-title-m: calcVW(10) 0,
  facts-item-title-fz: calcVW(18),
  facts-item-title-lh: calcVW(24),
  facts-item-result-fz: calcVW(48),
  facts-item-result-lh: calcVW(50),
  facts-item-width: calcVW(296),
  facts-item-height: calcVW(163),
  facts-item-p: calcVW(32),
);

@function getAboutItemSizes($property) {
  @return map-get($facts-item-sizes, $property);
}
