@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-industry-styles {
  .circleCheckbox {
    .checkbox {
      :global(.ant-checkbox-inner) {
        border-radius: 50% !important;
      }
    }
  }

  .mainWrapper {
    @include flex(null, center, row);
    width: getIndustrySizes(main-wrapper-width);
    height: getIndustrySizes(main-wrapper-height);
    padding: getIndustrySizes(main-wrapper-padding);
    gap: getIndustrySizes(main-wrapper-gap);
    border-radius: calcVW(16);
    background: variables.$transparent-black;
    cursor: pointer;

    @media (max-width: 1024px) {
      width: calcVWT(202);
      height: calcVWT(56);
      gap: calcVWT(16);
      padding: calcVWT(16);
      border-radius: calcVWT(16);
    }

    @media (max-width: 576px) {
      width: calcVWM(302);
      gap: calcVWM(16);
      padding: calcVWM(16);
      height: calcVWM(56);
      border-radius: calcVWM(16);
    }
  }

  .mainWrapper:hover {
    outline: 1px solid variables.$dodger-blue;
  }

  .checkbox {
    :global(.ant-checkbox-input) {
      &:focus {
        border: $main-white !important;

        .ant-checkbox-inner {
          border-color: $main-white !important;
        }
      }
    }

    :global(.ant-checkbox-inner) {
      width: calcVW(20);
      height: calcVW(20);
      background-color: transparent;
      border: 1px solid $main-white;
      border-color: $main-white !important;
      border-radius: 5px;

      &:active {
        border-color: transparent !important;
        background-color: transparent !important;
        border: none !important;
      }
    }

    :global(.ant-checkbox-checked .ant-checkbox-inner) {
      background-color: transparent !important;
      border-color: transparent !important;
    }

    :global(.ant-checkbox-checked::after) {
      border: none !important;
    }

    :global(.ant-checkbox-checked .ant-checkbox-inner) {
      background-color: $transparent-black;
      border-color: $transparent-black;
    }
  }

  .nameSpecialist {
    @include flex(null, center);
    text-align: center;
    cursor: pointer;
    @include font-style(getIndustrySizes(name-specialist-fz),
      variables.$fw-500,
      getIndustrySizes(name-specialist-lh));

    @media (max-width: 1024px) {
      @include font-style(calcVWT(14), variables.$fw-700, calcVWT(19));
    }

    @media (max-width: 576px) {
      @include font-style(calcVWM(14), variables.$fw-700, calcVWM(19));
    }
  }

  .moreWrapper {
    @include flex(center, row, null);
    width: max-content;
    border-radius: calcVW(16);
    background-color: variables.$transparent-black;
    padding: getIndustrySizes(more-wrapper-padding);
    gap: getIndustrySizes(more-wrapper-gap);
    cursor: pointer;
  }

  .moreWrapper:hover {
    border: 1px solid variables.$dodger-blue;
  }

  @media only screen and (max-width: 1440px) and (min-width: 1025px) {
    .mainWrapper {
      width: calcVWL(302);
      height: calcVWL(56);
      padding: calcVWL(16);
      gap: calcVWL(16);
      border-radius: calcVWL(16);
    }

    .checkbox {
      :global(.ant-checkbox-inner) {
        width: calcVWL(20);
        height: calcVWL(20);
        border-radius: calcVWL(5);
      }
    }

    .nameSpecialist {
      @include font-style(calcVWL(14),
        variables.$fw-500,
        calcVWL(24));

    }

    .moreWrapper {
      border-radius: calcVWL(16);
      padding: calcVWL(16);
      gap: calcVWL(16);
    }
  }

  @media (max-width: 1024px) {
    .checkbox {
      :global(.ant-checkbox-inner) {
        width: calcVWT(20);
        height: calcVWT(20);
        border-radius: 4px;
      }
    }
  }

  @media (max-width: 576px) {
    .checkbox {
      :global(.ant-checkbox-inner) {
        width: calcVWM(20);
        height: calcVWM(20);
        border-width: 1px;
      }
    }
  }
}