@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-home-main-texts-styles {
  .contentWrapper {
    overflow: hidden;
  }

  .heightStyle {
    max-height: unset !important;
  }

  .blog {
    @media (max-width: 576px) {
      margin-bottom: calcVWM(29);
      .firstSubtitle {
        p {
          @include font-style(calcVWM(24), variables.$fw-400, 1.3);

          margin: 0;
        }
      }
    }
  }

  .bigTextWrapper {
    height: fit-content;
    position: relative;

    .title {
      @include font-style(
        getHomeMainTextsSizes(home-main-title-fz),
        variables.$fw-400,
        getHomeMainTextsSizes(home-main-title-lh)
      );
    }

    .ellipsisText {
      text-overflow: ellipsis;
    }

    .firstSubtitle {
      @include font-style(
        getHomeMainTextsSizes(home-main-first-text-fz),
        variables.$fw-300,
        getHomeMainTextsSizes(home-main-first-text-lh)
      );
      margin-top: getHomeMainTextsSizes(home-main-first-text-mt);

      p {
        margin: 0;
      }
    }

    .showMoreClass {
      height: max-content;
    }

    @media (max-width: 1024px) {
      .title {
        @include font-style(calcVWT(36), variables.$fw-500, calcVWT(44));
      }

      .firstSubtitle {
        @include font-style(calcVWT(24), variables.$fw-400, calcVWT(32));
        margin-top: calcVWT(25);
      }
    }
  }

  @media only screen and (max-width: 1440px) and (min-width: 1025px) {
    .bigTextWrapper {
      .title {
        @include font-style(calcVWL(48), variables.$fw-400, calcVWL(59));
      }

      .firstSubtitle {
        @include font-style(calcVWL(24), variables.$fw-300, calcVWL(32));
        margin-top: calcVWL(24);
      }
    }
  }

  @media (max-width: 576px) {
    .contentWrapper {
      max-height: calcVWM(200);
    }

    .bigTextWrapper {
      max-height: max-content;

      .title {
        @include font-style(calcVWM(36), variables.$fw-400, calcVWM(44));
      }

      .firstSubtitle {
        @include font-style(calcVWM(18), variables.$fw-400, calcVWM(24));
        margin-top: calcVWM(25);
      }
    }

    .prtfolioItem {
      max-height: max-content;

      .title {
        @include font-style(
          calcVWM(36),
          variables.$fw-400,
          calcVWM(44),
          variables.$black !important
        );
      }

      .firstSubtitle {
        @include font-style(
          calcVWM(18),
          variables.$fw-400,
          calcVWM(24),
          variables.$black
        );
        margin-top: calcVWM(25);
      }
    }

    .defaultShowMoreClass {
      overflow: hidden;
      height: calcVWM(150) !important;
    }

    .defaultShowMoreClassShadow {
      position: absolute;
      width: 100%;
      bottom: calcVWM(-30);
      box-shadow: 0 0 calcVWM(40) calcVWM(80) #020d1c;
    }
  }
}
