@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-portfolio-main-styles {
  .content {
    width: getPortfolioMainSizes(content-width);
    margin: getPortfolioMainSizes(content-mt) auto 0 auto;

    .contentDescription {
      margin-left: calcVW(24);
    }

    .portfoliosSection {
      margin-top: calcVW(88);
    }

    .knowMoreSection {
      margin: calcVW(384) 0;
    }

    @media only screen and (max-width: 1440px) and (min-width: 1025px) {
      width: calcVWL(1280);
      margin: calcVWL(478) auto 0 auto;
      .contentDescription {
        margin-left: calcVWL(24);
      }
      .portfoliosSection {
        margin-top: calcVWL(88);
      }
      .knowMoreSection {
        margin: calcVWL(384) 0;
      }
    }

    @media (max-width: 1024px) {
      width: calcVWT(928);
      .contentDescription {
        margin: 0;
      }
      .portfoliosSection {
        margin-top: calcVWT(88);
      }
    }
    @media (max-width: 576px) {
      width: calcVWM(343);

      .portfoliosSection {
        margin-top: calcVWM(104);
      }
    }
  }
}
//TO Do refactor Calc
