@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-button-styles {
  .button {
    background: variables.$main-white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 0;
    border-radius: 100px;
    padding: getButtonSizes(button-padding);
    width: getButtonSizes(button-width);
    height: getButtonSizes(button-height);

    @include font-style(
      getButtonSizes(button-text-fz),
      variables.$fw-700,
      getButtonSizes(button-text-fl),
      #fff
    );

    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background: #105475;
      border: 1px solid #105475;
      @include font-style(
        getButtonSizes(button-text-fz),
        variables.$fw-700,
        getButtonSizes(button-text-fl),
        #fff
      );
      transition: 0.3s;
    }

    @media only screen and (max-width: 1440px) and (min-width: 1025px) {
      padding: calcVWL(7) calcVWL(5);
      width: calcVWL(160);
      height: calcVWL(50);

      @include font-style(calcVWL(23), variables.$fw-700, calcVWL(24), #fff);

      &:hover {
        @include font-style(calcVWL(23), variables.$fw-700, calcVWL(24), #fff);
      }
    }

    @media (max-width: 576px) {
      border-radius: 5px;
      @include font-style(calcVWT(23), variables.$fw-700, calcVWT(24), #fff);

      &:hover {
        @include font-style(calcVWT(23), variables.$fw-700, calcVWT(24), #fff);
      }
    }

    @media (max-width: 576px) {
      border-radius: 5px;
      @include font-style(calcVWM(23), variables.$fw-700, calcVWM(24), #fff);

      &:hover {
        @include font-style(calcVWM(23), variables.$fw-700, calcVWM(24), #fff);
      }
    }
  }

  .whiteButton {
    background: #fff;
    color: #105475;
    cursor: pointer;

    &:hover {
      background: variables.$main-white;
      border: 1px solid variables.$main-white;

      @include font-style(
        getButtonSizes(button-hover-text-fz),
        variables.$fw-500,
        getButtonSizes(button-text-fl),
        #fff
      );
      transition: 0.3s;
    }

    @media only screen and (max-width: 1440px) and (min-width: 1025px) {
      &:hover {
        @include font-style(calcVWL(23), variables.$fw-500, calcVWL(24), #fff);
      }
    }

    @media (max-width: 768px) {
      width: calcVW(400);
      height: calcVW(120);
      font-size: calcVW(45);

      &:hover {
        @include font-style(
          calcVW(58),
          variables.$fw-500,
          getButtonSizes(button-text-fl),
          #fff
        );
      }
    }
  }

  .lightBlue {
    width: max-content;
    background: variables.$light-blue;
    @include font-style(
      calcVW(20),
      variables.$fw-700,
      normal,
      variables.$white
    );
    border-radius: getButtonSizes(transparent-opposite-br);
    padding: getButtonSizes(transparent-opposite-p);
    letter-spacing: calcVW(2);
    border: 1px solid variables.$light-blue;
    height: max-content !important;
    cursor: pointer;
    letter-spacing: 0.5px;

    &:hover {
      background: variables.$main-white;
      border: 1px solid variables.$light-blue;
      @include font-style(
        calcVW(20),
        variables.$fw-700,
        normal,
        variables.$light-blue
      );
      transition: 0.3s;
    }

    @media only screen and (max-width: 1440px) and (min-width: 1025px) {
      @include font-style(calcVWL(20), variables.$fw-700, normal);
      border-radius: calcVWL(8);
      padding: calcVWL(15) calcVWL(31);
      letter-spacing: calcVWL(2);

      &:hover {
        @include font-style(
          calcVWL(20),
          variables.$fw-700,
          normal,
          variables.$light-blue
        );
      }
    }

    @media (max-width: 1024px) {
      width: max-content;
      height: calcVWT(56);
      padding: calcVWT(16) calcVWT(31);
      @include font-style(calcVWT(20), variables.$fw-700, normal);
      letter-spacing: 0.7px;
      border-radius: calcVWT(8);

      &:hover {
        @include font-style(
          calcVWT(20),
          variables.$fw-700,
          calcVWT(24),
          variables.$light-blue
        );
      }
    }

    @media (max-width: 576px) {
      width: max-content;
      padding: calcVWM(16) calcVWM(31) !important;
      @include font-style(calcVWM(20), variables.$fw-700, calcVWM(24));
      border-radius: calcVWM(8);

      &:hover {
        @include font-style(
          calcVWM(20),
          variables.$fw-700,
          calcVWM(24),
          variables.$light-blue
        );
      }
    }
  }

  .grayTextBtn {
    width: unset;
    background: rgba(0, 0, 0, 0.32);
    @include font-style(
      getButtonSizes(button-text-light-blue-fz),
      variables.$fw-700,
      getButtonSizes(button-text-bold-blue-lh),
      rgba(255, 255, 255, 0.32)
    );
    border-radius: getButtonSizes(button-bold-blue-br);
    padding: getButtonSizes(button-bold-blue-padding);
    border: 1px solid rgba(255, 255, 255, 0.32);
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: variables.$light-blue;
      @include font-style(
        getButtonSizes(button-text-light-blue-fz),
        variables.$fw-700,
        getButtonSizes(button-text-bold-blue-lh),
        variables.$black
      );
    }

    @media only screen and (max-width: 1440px) and (min-width: 1025px) {
      @include font-style(
        calcVWL(13),
        variables.$fw-700,
        calcVWL(19),
        rgba(255, 255, 255, 0.32)
      );
      border-radius: calcVWL(8);
      padding: calcVWL(8) calcVWL(32);

      &:hover {
        @include font-style(
          calcVWL(13),
          variables.$fw-700,
          calcVWL(19),
          variables.$black
        );
      }
    }

    @media (max-width: 768px) {
      &:hover {
        @include font-style(
          getButtonSizes(button-light-blue-tablet-fs),
          variables.$fw-500,
          getButtonSizes(button-text-fl)
        );
      }
    }

    @media (max-width: 1024px) {
      .button {
        width: max-content;
        height: max-content;
        @include font-style(calcVWT(13), variables.$fw-700, calcVWT(19));
        border-radius: calcVWT(8);
      }
    }
  }

  .boldWhite {
    display: flex;
    gap: calcVW(10);
    background: rgba(0, 0, 0, 0.32);
    @include font-style(
      calcVW(18),
      variables.$fw-700,
      normal,
      variables.$light-blue
    );
    padding: getButtonSizes(button-bold-blue-padding);
    width: getButtonSizes(button-width-bold-blue);
    height: getButtonSizes(button-bold-blue-height);
    border: 1px solid variables.$light-blue;
    border-radius: calcVW(16);
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.5);
      @include font-style(
        calcVW(18),
        variables.$fw-700,
        normal,
        variables.$dodger-blue
      );
      transition: 0.3s;
      border: 1px solid variables.$dodger-blue;

      img {
        filter: invert(63%) sepia(34%) saturate(969%) hue-rotate(166deg)
          brightness(100%) contrast(104%);
      }
    }

    img {
      width: calcVW(24);
      height: calcVW(24);
    }

    @media only screen and (max-width: 1440px) and (min-width: 1025px) {
      @include font-style(
        calcVWL(18),
        variables.$fw-500,
        calcVWL(18),
        variables.$light-blue
      );
      padding: calcVWL(8) calcVWL(32);
      width: calcVWL(279);
      height: calcVWL(76);
      border-radius: calcVWL(16);
      gap: calcVWL(10);

      &:hover {
        @include font-style(
          calcVWL(18),
          variables.$fw-500,
          calcVWL(18),
          variables.$dodger-blue
        );
      }

      img {
        width: calcVWL(24);
        height: calcVWL(24);
      }
    }

    @media (max-width: 1024px) {
      gap: calcVWT(10);
      @include font-style(
        calcVWT(18),
        variables.$fw-700,
        calcVWT(22),
        variables.$light-blue
      );
      letter-spacing: 0.5px;
      padding: calcVWT(8) calcVWT(32) !important;

      width: calcVWT(279);
      height: calcVWT(76);

      &:hover {
        @include font-style(
          calcVWT(18),
          variables.$fw-700,
          calcVWT(22),
          variables.$dodger-blue
        );
      }

      border-radius: calcVWT(16);
      padding: calcVWT(26) calcVWT(52);

      img {
        width: calcVWT(24);
        height: calcVWT(24);
      }
    }

    @media (max-width: 576px) {
      gap: calcVWM(10);
      @include font-style(
        calcVWM(18),
        variables.$fw-700,
        calcVWM(22),
        variables.$light-blue
      );

      width: calcVWM(279);
      height: calcVWM(76);

      &:hover {
        @include font-style(
          calcVWM(18),
          variables.$fw-700,
          calcVWM(22),
          variables.$dodger-blue
        );
      }

      border-radius: calcVWM(16);
      padding: calcVWM(27) calcVWM(56);

      img {
        width: calcVWM(24);
        height: calcVWM(24);
      }
    }
  }

  .transparentOpposite {
    width: max-content;
    background: transparent;
    @include font-style(calcVW(20), variables.$fw-700, normal);
    border-radius: getButtonSizes(transparent-opposite-br);
    padding: getButtonSizes(transparent-opposite-p);
    letter-spacing: calcVW(2);
    border: 1px solid variables.$light-blue;
    height: unset;
    cursor: pointer;
    letter-spacing: 0.5px;

    &:hover {
      background: variables.$light-blue;
      border: 1px solid variables.$light-blue;
      @include font-style(calcVW(20), variables.$fw-700, normal);
      transition: 0.3s;
    }

    @media only screen and (max-width: 1440px) and (min-width: 1025px) {
      @include font-style(calcVWL(20), variables.$fw-700, normal);
      border-radius: calcVWL(8);
      padding: calcVWL(15) calcVWL(31);
      letter-spacing: calcVWL(2);

      &:hover {
        @include font-style(calcVWL(20), variables.$fw-700, normal);
      }
    }

    @media (max-width: 1024px) {
      width: max-content;
      height: calcVWT(56);
      padding: calcVWT(16) calcVWT(31);
      @include font-style(calcVWT(20), variables.$fw-700, normal);
      letter-spacing: 0.7px;
      border-radius: calcVWT(8);

      &:hover {
        @include font-style(calcVWT(20), variables.$fw-700, calcVWT(24));
      }
    }

    @media (max-width: 576px) {
      width: max-content;
      height: calcVWM(56);
      padding: calcVWM(16) calcVWM(31);
      @include font-style(calcVWM(20), variables.$fw-700, calcVWM(24));
      border-radius: calcVWM(8);

      &:hover {
        @include font-style(calcVWM(20), variables.$fw-700, calcVWM(24));
      }
    }
  }

  .transparentOppositeBlack {
    color: variables.$black;

    &:hover {
      color: variables.$black;
    }
  }

  .clear {
    padding: calcVW(33) calcVW(32) calcVW(19) calcVW(40);
    width: max-content;
    background: variables.$transparent;
    height: unset;
    cursor: pointer;

    @include font-style(
      calcVW(18),
      variables.$fw-700,
      getButtonSizes(button-text-bold-blue-lh),
      variables.$light-blue !important
    );

    &:hover {
      background: variables.$transparent;
      border: none;
      transition: 0.3s;
      @include font-style(
        calcVW(22),
        variables.$fw-700,
        getButtonSizes(button-text-bold-blue-lh),
        variables.$light-blue !important
      );
    }

    @media only screen and (max-width: 1440px) and (min-width: 1025px) {
      padding: calcVWL(26) calcVWL(32) calcVWL(26) calcVWL(40);

      @include font-style(
        calcVWL(18),
        variables.$fw-700,
        calcVWL(19),
        variables.$light-blue !important
      );

      &:hover {
        @include font-style(
          calcVWL(22),
          variables.$fw-700,
          calcVWL(19),
          variables.$light-blue !important
        );
      }
    }

    @media (max-width: 1024px) {
      padding: calcVWT(26) calcVWT(32) calcVWT(26) calcVWT(40);
      @include font-style(calcVWT(18), variables.$fw-700, calcVWT(20));

      &:hover {
        @include font-style(
          calcVWT(22),
          variables.$fw-700,
          calcVWT(20),
          variables.$light-blue !important
        );
      }
    }

    @media (max-width: 576px) {
      padding: calcVWM(26) calcVWM(32) calcVWM(26) calcVWM(40);
      @include font-style(
        calcVWM(18),
        variables.$fw-700,
        calcVWM(20),
        variables.$light-blue !important
      );

      &:hover {
        @include font-style(
          calcVWM(22),
          variables.$fw-700,
          calcVWM(20),
          variables.$light-blue !important
        );
      }
    }
  }

  .lightBlueTech {
    background: variables.$light-blue;
    @include font-style(
      getButtonSizes(button-text-light-blue-fz),
      variables.$fw-700,
      getButtonSizes(button-text-bold-blue-lh),
      variables.$black
    );
    border-radius: getButtonSizes(button-bold-blue-br);
    padding: getButtonSizes(button-bold-blue-padding);
    border: 1px solid variables.$light-blue;
    cursor: pointer;
    height: calcVW(48);
    width: auto;

    &:hover {
      background: variables.$light-blue;

      border: 1px solid variables.$light-blue;
      @include font-style(
        getButtonSizes(button-text-light-blue-fz),
        variables.$fw-700,
        getButtonSizes(button-text-bold-blue-lh),
        variables.$black
      );
      transition: 0.3s;
    }

    @media only screen and (max-width: 1440px) and (min-width: 1025px) {
      @include font-style(
        calcVWL(13),
        variables.$fw-700,
        calcVWL(18),
        variables.$black
      );
      border-radius: calcVWL(8);
      padding: calcVWL(15) calcVWL(32);
      height: auto;

      &:hover {
        @include font-style(
          calcVWL(13),
          variables.$fw-700,
          calcVWL(18),
          variables.$black
        );
      }
    }

    @media (max-width: 1024px) {
      border-radius: calcVWT(8);
      padding: calcVWT(15) calcVWT(32);
      width: max-content !important;
      height: max-content !important;

      @include font-style(
        calcVWT(18),
        variables.$fw-400,
        calcVWT(24),
        variables.$black
      );

      &:hover {
        @include font-style(
          calcVWT(18),
          variables.$fw-400,
          calcVWT(24),
          variables.$black
        );
      }
    }

    @media (max-width: 576px) {
      padding: calcVWM(16) calcVWM(24);
      width: max-content !important;
      border-radius: calcVWM(8);

      @include font-style(
        calcVWM(18),
        variables.$fw-400,
        calcVWM(24),
        variables.$black
      );

      &:hover {
        @include font-style(
          calcVWM(18),
          variables.$fw-400,
          calcVWM(24),
          variables.$black
        );
      }
    }
  }

  .grayTextBtnTech {
    @include font-style(
      getButtonSizes(button-text-light-blue-fz),
      variables.$fw-700,
      getButtonSizes(button-text-bold-blue-lh),
      rgba(255, 255, 255, 0.32)
    );

    background: rgba(0, 0, 0, 0.32);
    border-radius: getButtonSizes(button-bold-blue-br);
    padding: getButtonSizes(button-bold-blue-padding);
    border: 1px solid rgba(255, 255, 255, 0.32);
    cursor: pointer;
    height: calcVW(48);
    width: auto;

    &:hover {
      background: variables.$light-blue;
      @include font-style(
        getButtonSizes(button-text-light-blue-fz),
        variables.$fw-700,
        getButtonSizes(button-text-bold-blue-lh),
        variables.$black
      );
      transition: 0.3s;
    }

    @media only screen and (max-width: 1440px) and (min-width: 1025px) {
      @include font-style(
        calcVWL(13),
        variables.$fw-700,
        calcVWL(18),
        rgba(255, 255, 255, 0.32)
      );

      border-radius: calcVWL(8);
      padding: calcVWL(15) calcVWL(32);
      height: auto;

      &:hover {
        @include font-style(
          calcVWL(13),
          variables.$fw-700,
          calcVWL(18),
          variables.$black
        );
      }
    }

    @media (max-width: 1024px) {
      border-radius: calcVWT(8);
      padding: calcVWT(15) calcVWT(32);
      width: max-content !important;
      height: max-content !important;
      @include font-style(
        calcVWT(18),
        variables.$fw-400,
        calcVWT(24),
        variables.$light-blue
      );

      &:hover {
        border: 1px solid rgba(255, 255, 255, 0.32);
        background: rgba(0, 0, 0, 0.32);
        border-radius: calcVWT(8);
        padding: calcVWT(15) calcVWT(32);
        width: max-content !important;
        height: max-content !important;
        @include font-style(
          calcVWT(18),
          variables.$fw-400,
          calcVWT(24),
          variables.$light-blue
        );
      }
    }

    @media (max-width: 576px) {
      padding: calcVWM(16) calcVWM(24);
      border-radius: calcVWM(8);
      width: max-content !important;
      @include font-style(
        calcVWM(18),
        variables.$fw-400,
        calcVWM(24),
        variables.$light-blue
      );

      &:hover {
        padding: calcVWM(16) calcVWM(24);
        border-radius: calcVWM(8);
        @include font-style(
          calcVWM(18),
          variables.$fw-400,
          calcVWM(24),
          variables.$light-blue
        );
      }
    }
  }

  .transparentBlue {
    width: unset;
    background: variables.$transparent;
    @include font-style(
      getButtonSizes(button-text-bold-blue-fz),
      variables.$fw-700,
      normal,
      variables.$light-blue !important
    );
    border-radius: getButtonSizes(transparent-opposite-br);
    padding: getButtonSizes(button-bold-blue-padding);
    border: 1px solid variables.$light-blue;
    height: calcVW(48);
    cursor: pointer;

    &:hover {
      background: variables.$light-blue;
      border: 1px solid variables.$light-blue;
      @include font-style(
        getButtonSizes(button-text-bold-blue-fz),
        variables.$fw-700,
        normal,
        variables.$white !important
      );
      transition: 0.3s;
    }

    @media only screen and (max-width: 1440px) and (min-width: 1025px) {
      @include font-style(
        calcVWL(13),
        variables.$fw-700,
        normal,
        variables.$light-blue !important
      );
      border-radius: calcVWL(8);
      padding: calcVWL(15) calcVWL(32);
      height: calcVWL(48);

      &:hover {
        @include font-style(
          calcVWL(13),
          variables.$fw-700,
          normal,
          variables.$white !important
        );
      }
    }

    @media (max-width: 1024px) {
      width: max-content !important;
      height: max-content !important;
      padding: calcVWT(15) calcVWT(32);

      @include font-style(
        calcVWT(13) !important,
        variables.$fw-700 !important,
        calcVWT(16) !important
      );
      border-radius: calcVWT(8);
    }

    @media (max-width: 576px) {
      padding: calcVWM(15) calcVWM(32) !important;

      @include font-style(
        calcVWM(13) !important,
        variables.$fw-500 !important,
        calcVWM(16) !important
      );
      border-radius: calcVWM(8) !important;

      &:hover {
        @include font-style(
          calcVWM(13) !important,
          variables.$fw-700 !important,
          calcVWM(16) !important,
          variables.$white !important
        );
      }
    }
    &:disabled {
      pointer-events: none;
    }
  }

  .modal {
    @media (max-width: 1024px) {
      width: 100%;

      :global(.ant-modal-content) {
        padding: calcVWT(64);
        border-radius: calcVWT(16);
        width: calcVWT(538);
      }
    }

    @media (max-width: 575px) {
      :global(.ant-modal-content) {
        padding: calcVWM(16);
        border-radius: calcVWM(16);
        width: calcVWM(343);
      }
    }
  }
}
