@import "../../abstract/functions";
@import "../../base/variables";

$button-sizes: (
  button-radius: calcVW(5),
  button-padding: calcVW(7) calcVW(5),
  button-bold-blue-padding: calcVW(15) calcVW(32),
  button-width: calcVW(160),
  button-width-bold-blue: calcVW(279),
  button-height: calcVW(50),
  button-bold-blue-height: calcVW(76),
  button-text-fz: calcVW(22),
  button-text-lh: calcVW(26),
  button-text-bold-blue-fz: calcVW(13),
  button-text-light-blue-fz: calcVW(13),
  button-text-bold-blue-lh: calcVW(19),
  button-bold-blue-br: calcVW(8),
  button-hover-text-fz: calcVW(23),
  button-hover-text-lh: calcVW(26),
  button-width-light-blue: calcVW(120),
  button-tablet-width: calcVW(420),
  button-tablet-height: calcVW(130),
  button-tablet-fz: calcVW(60),
  button-tablet-fs: calcVW(58),
  button-text-light-blue-lh: calcVW(16),
  button-light-blue-tablet-fs: calcVW(58),
  transparent-opposite-br: calcVW(8),
  transparent-opposite-p: calcVW(15) calcVW(32),
  transparent-tablet-button-width: calcVW(400),
  transparent-tablet-button-height: calcVW(120),
  transparent-tablet-button-fz: calcVW(45),
);

@function getButtonSizes($property) {
  @return map-get($button-sizes, $property);
}
