@use "../../base/variables";
@import "../../base/mixins";

@mixin generate-discuss-project-stack-styles {
  .form {
    width: 100%;
    input:not([type="range"]) {
      &::after {
        display: none;
      }
    }
    label {
      color: black !important;
    }

    input {
      border: 0;
    }
    .industryInput {
      input {
        @include font-style(
          calcVW(18),
          variables.$fw-400,
          normal,
          variables.$black
        );
        padding: 0;
        &:focus {
          border-color: unset;
          border-right-width: unset;
          outline: 0;
          box-shadow: unset;
        }

        @media (max-width: 1024px) {
          @include font-style(
            calcVWT(18),
            variables.$fw-400,
            normal,
            variables.$black
          );
        }
        @media (max-width: 576px) {
          @include font-style(
            calcVWM(18),
            variables.$fw-400,
            normal,
            variables.$black
          );
        }
      }
    }
  }

  .content {
    width: getDiscussProjectStackSizes(content-width);
    margin: getDiscussProjectStackSizes(content-mt) auto 0 auto;

    .mainTitle {
      max-width: calcVW(850);
      padding-left: calcVW(24);
    }

    .discussProject {
      margin: calcVW(-5) 0 calcVW(320);

      .form > button {
        margin-top: calcVW(3);
      }

      .form {
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: calcVW(32);

        .currentStageDiscuss {
          a:last-of-type {
            button {
              height: calcVW(48);
              background: variables.$light-blue;
              @include font-style(
                calcVW(13),
                variables.$fw-700,
                calcVW(19),
                variables.$black
              );

              @media (max-width: 1024px) {
                height: calcVWT(48);
                @include font-style(
                  calcVWT(13),
                  variables.$fw-700,
                  calcVWT(19),
                  variables.$black
                );
              }

              @media (max-width: 576px) {
                height: unset;
                @include font-style(
                  calcVWM(13),
                  variables.$fw-700,
                  calcVWM(19),
                  variables.$black
                );
              }
            }
          }
        }

        .buttons {
          z-index: 10;
          display: flex;
          gap: calcVW(16);
          margin-top: calcVW(30);

          .grayTextBtn {
            &:focus-visible {
              outline: none;
            }

            &:focus-within {
              box-shadow: none;
            }

            border-style: unset;
            width: unset;
            background: rgba(0, 0, 0, 0.32);
            border-radius: calcVW(8);
            padding: calcVW(8) calcVW(32);
            border: 1px solid rgba(255, 255, 255, 0.32);
            cursor: pointer;
            height: unset;
            @include font-style(
              calcVW(13),
              variables.$fw-700,
              calcVW(19),
              rgba(255, 255, 255, 0.32)
            );

            &:hover {
              background: variables.$light-blue;
              @include font-style(
                calcVW(13),
                variables.$fw-700,
                calcVW(19),
                variables.$black
              );
              transition: 0.3s;
            }

            &::before {
              background-color: unset;
            }

            @media (max-width: 1024px) {
              @include font-style(
                calcVWT(13),
                variables.$fw-700,
                calcVWT(19),
                rgba(255, 255, 255, 0.32)
              );
            }
          }

          a {
            button {
              height: calcVW(48);

              @include font-style(
                calcVW(13),
                variables.$fw-700,
                calcVW(19),
                variables.$gray
              );

              @media (max-width: 1024px) {
                height: calcVWT(48);
                text-align: start;
                padding: calcVWT(8) calcVWT(16);
                border-radius: calcVWT(8);

                @include font-style(
                  calcVWT(13),
                  variables.$fw-700,
                  calcVWT(19),
                  variables.$gray
                );
              }

              @media (max-width: 576px) {
                height: unset;
                padding: calcVWM(12) calcVWM(16);
                border-radius: calcVWM(8);

                @include font-style(
                  calcVWM(13),
                  variables.$fw-700,
                  calcVWM(19),
                  variables.$gray
                );
              }

              &:hover {
                background: variables.$light-blue;
                @include font-style(
                  calcVW(13),
                  variables.$fw-700,
                  calcVW(19),
                  variables.$black
                );

                @media (max-width: 1024px) {
                  @include font-style(
                    calcVWT(13),
                    variables.$fw-700,
                    calcVWT(19),
                    variables.$black
                  );
                }

                @media (max-width: 576px) {
                  @include font-style(
                    calcVWM(13),
                    variables.$fw-700,
                    calcVWM(19),
                    variables.$black
                  );
                }
              }
            }
          }
          @media (max-width: 1024px) {
            margin-top: calcVWT(25);
            gap: calcVWT(16);
          }
        }

        .industryDetails {
          display: flex;
          flex-direction: column;
          gap: calcVW(64);

          .industries {
            display: flex;
            flex-direction: column;
            gap: calcVW(16);

            :global(.ant-form-item) {
              margin-bottom: 0px;
            }

            :global(.ant-slider-horizontal) {
              margin-top: calcVW(82);
            }

            .title {
              display: flex;
              align-items: center;
              height: calcVW(60);
              @include font-style(calcVW(20), variables.$fw-700, calcVW(24));

              @media (max-width: 1024px) {
                height: calcVWT(60);
                @include font-style(
                  calcVWT(20),
                  variables.$fw-700,
                  calcVWT(24)
                );
              }

              @media (max-width: 576px) {
                height: unset;
                @include font-style(
                  calcVWM(20),
                  variables.$fw-700,
                  calcVWM(24)
                );
              }
            }

            .checkboxes {
              display: flex;
              flex-wrap: wrap;
              column-gap: calcVW(24);
              row-gap: calcVW(16);
            }

            .slider {
              margin-bottom: calcVW(52);
            }

            .specialistWrapper {
              display: flex;
              flex-wrap: wrap;
              gap: calcVW(66);

              .stacks {
                display: flex;
                flex-direction: column;
                gap: calcVW(24);
              }

              .stackName {
                @include font-style(
                  calcVW(20),
                  variables.$fw-700,
                  calcVW(24),
                  variables.$dodger-blue
                );
              }
            }

            .stackWrapper {
              display: flex;
              flex-wrap: wrap;
              gap: calcVW(83);

              .stacks {
                display: flex;
                flex-direction: column;
                gap: calcVW(24);
              }

              .stackName {
                @include font-style(
                  calcVW(20),
                  variables.$fw-700,
                  calcVW(24),
                  variables.$dodger-blue
                );

                @media (max-width: 1024px) {
                  @include font-style(
                    calcVWT(20),
                    variables.$fw-700,
                    calcVWT(24),
                    variables.$dodger-blue
                  );
                }

                @media (max-width: 576px) {
                  @include font-style(
                    calcVWM(20),
                    variables.$fw-700,
                    calcVWM(24),
                    variables.$dodger-blue
                  );
                }
              }
            }

            .monthsWrapper {
              display: flex;
              justify-content: space-between;
              margin-top: calcVW(12);

              .month {
                cursor: pointer;
                text-align: left;
                @include font-style(calcVW(14), variables.$fw-500, calcVW(24));

                @media (max-width: 1024px) {
                  @include font-style(
                    calcVWT(14),
                    variables.$fw-700,
                    calcVWT(24)
                  );
                }

                @media (max-width: 576px) {
                  width: calcVWM(40);
                  @include font-style(
                    calcVWM(10),
                    variables.$fw-700,
                    calcVWM(14)
                  );
                }
              }
            }
          }
        }
      }
    }

    @media only screen and (max-width: 1440px) and (min-width: 1025px) {
      width: calcVWL(1280);
      margin: calcVWL(462) auto 0 auto;

      .mainTitle {
        max-width: calcVWL(850);
        padding-left: calcVWL(24);
      }

      .discussProject {
        margin: calcVWL(-5) 0 calcVWL(320);

        .form > button {
          margin-top: calcVWL(3);
        }

        .form {
          gap: calcVWL(32);

          .currentStageDiscuss {
            a:last-of-type {
              button {
                height: calcVWL(48);
                @include font-style(
                  calcVWL(13),
                  variables.$fw-700,
                  calcVWL(19),
                  variables.$black
                );
              }
            }
          }

          .buttons {
            gap: calcVWL(16);
            margin-top: calcVWL(30);

            .grayTextBtn {
              border-radius: calcVWL(8);
              padding: calcVWL(8) calcVWL(32);
              @include font-style(
                calcVWL(13),
                variables.$fw-700,
                calcVWL(19),
                rgba(255, 255, 255, 0.32)
              );

              &:hover {
                @include font-style(
                  calcVWL(13),
                  variables.$fw-700,
                  calcVWL(19),
                  variables.$black
                );
              }
            }

            a {
              button {
                height: calcVWL(48);

                @include font-style(
                  calcVWL(13),
                  variables.$fw-700,
                  calcVWL(19),
                  variables.$gray
                );

                &:hover {
                  @include font-style(
                    calcVWL(13),
                    variables.$fw-700,
                    calcVWL(19),
                    variables.$black
                  );
                }
              }
            }
          }

          .industryDetails {
            gap: calcVWL(64);

            .industries {
              gap: calcVWL(16);

              :global(.ant-slider-horizontal) {
                margin-top: calcVWL(82);
              }

              .title {
                height: calcVWL(60);
                @include font-style(
                  calcVWL(20),
                  variables.$fw-700,
                  calcVWL(24)
                );
              }

              .checkboxes {
                column-gap: calcVWL(24);
                row-gap: calcVWL(16);
              }

              .specialistWrapper {
                gap: calcVWL(66);

                .stacks {
                  gap: calcVWL(24);
                }

                .stackName {
                  @include font-style(
                    calcVWL(20),
                    variables.$fw-700,
                    calcVWL(24),
                    variables.$dodger-blue
                  );
                }
              }

              .stackWrapper {
                gap: calcVWL(83);

                .stacks {
                  gap: calcVWL(24);
                }

                .stackName {
                  @include font-style(
                    calcVWL(20),
                    variables.$fw-700,
                    calcVWL(24),
                    variables.$dodger-blue
                  );
                }
              }

              .monthsWrapper {
                margin-top: calcVWL(12);

                .month {
                  text-align: left;
                  @include font-style(
                    calcVWL(14),
                    variables.$fw-500,
                    calcVWL(24)
                  );
                }
              }
            }
          }
        }
      }
    }

    @media (max-width: 1024px) {
      width: calcVWT(928);
      margin-top: calcVWT(240);

      .mainTitle {
        max-width: calcVWT(850);
        padding-left: 0;
      }

      .discussProject {
        .form > button {
          margin-top: calcVWT(12);
        }

        .form {
          gap: calcVWT(32);
          @media (max-width: 881px) {
            gap: calcVWT(44);
          }

          .industryDetails > button {
            margin-top: calcVWT(-29);
          }

          .industryDetails {
            gap: calcVWT(64);

            .industries {
              padding: 0 calcVWT(24);
              gap: calcVWT(16);

              :global(.ant-slider-horizontal) {
                margin-top: calcVWT(80);
              }

              .title {
                height: calcVWT(60);
              }

              .slider {
                margin-bottom: calcVW(5);
              }

              .monthsWrapper {
                display: flex;
                justify-content: space-between;
                margin-top: calcVWT(12);
                margin-bottom: calcVWT(5);
              }

              .checkboxes {
                column-gap: calcVWT(24);
                row-gap: calcVWT(16);
              }

              .stackWrapper {
                column-gap: calcVWT(32);

                .stacks {
                  width: calcVWT(424);
                  row-gap: calcVWT(24);
                }
              }
            }
          }
        }
      }
    }

    @media (max-width: 576px) {
      width: calcVWM(343);
      margin-top: calcVWM(82);

      .buttons {
        margin-top: calcVWM(30) !important;
        margin-bottom: calcVWM(25);
        justify-content: space-between;
      }

      button:nth-child(1) {
        max-width: calcVWM(163) !important;
      }

      button:nth-child(2) {
        max-width: calcVWM(163) !important;
      }

      .discussProject {
        margin-top: calcVWM(-26);

        .form > button {
          margin-top: 0;
        }

        .form {
          gap: calcVWM(32);
          .buttons {
            margin-bottom: 0;
            a {
              button {
                height: unset !important;
                min-height: 100%;
              }
            }
          }

          .industryDetails > button {
            margin-top: calcVWT(8);
          }

          .industryDetails {
            .industries {
              padding: 0;
              gap: calcVWM(16);

              :global(.ant-slider-horizontal) {
                margin-top: calcVWM(80);
              }

              .title {
                height: unset;
              }
              .slider {
                margin-bottom: calcVWM(52);
              }

              .monthsWrapper {
                display: flex;
                justify-content: space-between;
                margin-bottom: calcVWM(0);
                margin-top: calcVWM(9);
              }

              .monthsWrapper div:nth-child(1) {
                text-align: start;
              }

              .monthsWrapper div:nth-child(2) {
                text-align: start;
              }

              .monthsWrapper div:nth-child(3) {
                text-align: center;
                width: calcVWM(25);
              }

              .monthsWrapper div:nth-child(4) {
                text-align: end;
              }

              .monthsWrapper div:nth-child(5) {
                text-align: end;
              }

              .checkboxes {
                column-gap: calcVWM(24);
              }

              .stackWrapper {
                row-gap: calcVWM(52);

                .stacks {
                  width: unset;
                }
              }
            }
          }
        }
      }
    }
  }
}
