@import "../../abstract/functions";
@import "../../base/variables";

$discuss-project-stack-sizes: (
  content-mt: calcVW(462),
  content-width: calcVW(1280),
);

@function getDiscussProjectStackSizes($property) {
  @return map-get($discuss-project-stack-sizes, $property);
}
